body {
    background-image: url("4kauto.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: rgba(255, 255, 255, 0.637);
    width: 800px;

    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

.row {
    margin: 20px;
    padding: 10px;
}

#cenaS {
    font-size: 30px;
    font-weight: bolder;
    color: tomato;
}